.paletas{
  max-width: 90rem;
  /* background-color: rgb(172, 172, 172); */
  margin: 0 auto;
  display: flex;
  align-content: space-between;
}

.paletas div{
  margin-top: 2rem;
  margin-right: 2rem;
}

.paleta1 {
     width: 0;
     height: 0;
     border-left: 100px solid #4e89ae;
     border-top: 50px solid #43658b;
     border-bottom: 50px solid #ed6663;
     border-right: 100px solid #ffa372;
}

.paleta2 {
     width: 0;
     height: 0;
     border-left: 100px solid #162447;
     border-top: 50px solid #1f4068;
     border-bottom: 50px solid #1b1b2f;
     border-right: 100px solid #e43f5a;
}
.paleta3 {
     width: 0;
     height: 0;
     border-left: 100px solid #4e89ae;
     border-top: 50px solid #43658b;
     border-bottom: 50px solid #ed6663;
     border-right: 100px solid #ffa372;
}
.paleta4 {
     width: 0;
     height: 0;
     border-left: 100px solid #2d4059;
     border-top: 50px solid #ea5455;
     border-bottom: 50px solid #decdc3;
     border-right: 100px solid #e5e5e5;
}
